* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: darkcyan;
  }
  .hero {
    width: 400px;
    height: 500px;
    box-shadow: 2px 2px 100px 10px red;
    background: linear-gradient(
      rgb(218, 105, 65),
      rgb(229, 137, 137),
      rgb(138, 221, 125)
    );
  }
  h1 {
    margin-top: 20px;
    padding: 5px;
    color: rgb(255, 242, 0);
    border-bottom: 2px solid rgb(255, 5, 5);
  }
  label {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 30px;
    padding: 10px;
    color: rgb(218, 255, 5);
  }
  input {
    padding: 10px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  button {
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(107, 157, 170);
    font-size: 18px;
    color: rgb(245, 14, 41);
    font-weight: bold;
    cursor: pointer;
  }
  button:hover{
    background-color: aqua;
  }
  h3,
  p {
    margin-top: 20px;
    color: white;
  }